h1 {
    color: #0000ff;
    text-align:center;
}
body {
    background-image: url("../Car.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}
h3 {
    text-align:left;
}
p {
  color: Black;

}
